* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  place-content: center;
  height: 100vh;
  background: #f4f4f4;
}

div {
  padding: 40px;
  background-color: #fff1bb;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  margin: 30px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  padding: 10px;
  border-radius: 0 30px;
  font-weight: 450;
  font-family: "open sans", serif;
}

.quote {
  padding: 10px;
  font-size: 1.8rem;
  font-weight: normal;
  font-family: "open sans", serif;
}

img {
  border-radius: 30px;
  padding: 15px 0;
}

button {
  padding: 6px 20px;
  border: none;
  border-radius: 10px;
  background-color: #000;
  color: #f3f3f3;
  font-size: 1.5rem;
  cursor: pointer;
}

.copyright {
  font-size: 1rem;
  padding: 14px 0;
}


@media screen and (max-width: 768px) {
  div {
    padding: 20px;
  }
  h1 {
    font-size: 2rem;
  }
  .quote {
    font-size: 1.5rem;
  }
  img {
    padding: 10px 0;
  }
  button {
    padding: 4px 15px;
    font-size: 1.2rem;
  }
}
