* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  place-content: center;
  height: 100vh;
  background: #f4f4f4;
}

div {
  padding: 40px;
  background-color: #fff1bb;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  margin: 30px;
  text-align: center;
  width: 400px;
  height: 550px;
}

h1 {
  font-size: 2.2rem;
  padding: 6px 0 ;
  border-radius: 0 30px;
  font-weight: 450;
  font-family: "open sans", serif;
}

.quote {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: normal;
  font-family: "open sans", serif;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

button {
  padding: 6px 20px;
  border: none;
  border-radius: 10px;
  background-color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 10px 0;
}

a {
  color: #f3f3f3;
  text-decoration: none;
}

.copyright {
  font-size: 1rem;
  padding: 14px 0 15px;
}

@media screen and (max-width: 768px) {
  div {
    padding: 20px;
    width: 300px;
    height: 480px;
  }
  h1 {
    font-size: 2rem;
    padding: 6px 0;
  }
  .quote {
    font-size: 1.2rem;
    padding: 4px 0;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 20px 0;
  }
  button {
    padding: 4px 15px;
    font-size: 1.2rem;
    margin: 0;
  }
}
